@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body {
    background: linear-gradient(135deg, #000000, #1A1A1A); /* Cyberpunk gradient */
    color: lime;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.terminal {
    background-color: rgba(30, 30, 30, 0.7);
    width: 90%;
    height: 90%;
    padding: 20px;
    overflow: auto; /* Allow scrolling if content overflows */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
}

/* Hide the scrollbar but allow scrolling */
.terminal::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.terminal-header {
    height: 25px;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.terminal-header .button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.terminal-header .button.close {
    background-color: #ff5f56;
}

.terminal-header .button.minimize {
    background-color: #ffbd2e;
}

.terminal-header .button.maximize {
    background-color: #27c93f;
}

.output {
    white-space: pre-wrap;
    padding-top: 35px;
}

.input-line {
    display: flex;
}

.prompt {
    color:  violet;
}

input {
    background: none;
    border: none;
    color: lime;
    outline: none;
    flex: 1;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-weight: bold;
}
